<div style="text-align: justify">
    <img src="http://www.feriasbrasil.com.br/fotosads/0ID749832445A-M.jpg" class="img-responsive">
    <h4>
        Pousada Casa na Praia
    </h4>
    <p>
        Local: Bal Santa Cruz - Ubatuba - SP
    </p>
    <p>  
       N° de Quartos: 15
    </p>
    <p>
        A Pousada Fica localizada na Praia do Sapé, entre as praias da Maranduba e Lagoinha, trata-se de uma praia muito bonita, tranqüila e limpa, à 25Km do centro de Ubatuba. A pousada fica na Praia, ou seja, literalmente pé na areia.
    </p>
</div>

