<div style="text-align: justify">
    <img src="http://www.feriasbrasil.com.br/fotosads/0ID711665555A-M.jpg" class="img-responsive">
    <h4>
        Hotel Frontenac
    </h4>
    <p>
       Local: Capivari - Campos do Jordão
    </p>
    <p>  
        N° de Quartos: 47
    </p>
    <p>
       A privilegiada localização do hotel no centro turístico do Capivari é perfeita para visitar as lojas mais badaladas da cidade. O Frontenac é o primeiro Hotel Boutique da Serra da Mantiqueira
    </p>
</div>
