<div class="container">
	<div class="row clearfix">
		<div class="col-md-3 column">
			<h2>
				<a href="#" class="link">Goiás</a>
			</h2>
            <p>
                <a href="#" class="sublink">Alto Paraíso de Goiás</a>
			</p>
            <p>
                <a href="#" class="sublink">Caldas Novas</a>
			</p>
            <p>
                <a href="#" class="sublink">Goiânia</a>
			</p>
            <p>
                <a href="#" class="sublink">Goiás</a>
			</p>
            <p>
                <a href="#" class="sublink">Pirenópolis</a>
			</p>
				<a class="link" href="#">Todos os destinos GO »</a>
			</p>
		</div>
		<div class="col-md-3 column">
			<h2>
				<a href="#" class="link">Mato Grosso</a>
			</h2>
			<p>
                <a href="#" class="sublink">Alta Floresta</a>
			</p>
            <p>
                <a href="#" class="sublink">Chapada dos Guimarães</a>
			</p>
            <p>
                <a href="#" class="sublink">Cuiabá</a>
			</p>
            <p>
                <a href="#" class="sublink">Poconé</a>
			</p>
            <p>
                <a href="#" class="sublink">São Félix do Araguaia</a>
			</p>
			<p>
				<a class="link" href="#">Todos os destinos MT »</a>
			</p>
		</div>
		<div class="col-md-3 column">
			<h2>
				<a href="#" class="link">Mato Grosso do Sul</a>
			</h2>
			 <p>
                <a href="#" class="sublink">Bonito</a>
			</p>
            <p>
                <a href="#" class="sublink">Campo Grande</a>
			</p>
            <p>
                <a href="#" class="sublink">Corumbá</a>
			</p>
            <p>
                <a href="#" class="sublink">Dourados</a>
			</p>
             <p>
                <a href="#" class="sublink">Miranda</a>
			</p>
			<p>
				<a class="link href="#">Todos os destinos MS »</a>
			</p>
		</div>
	</div>
</div>