<div class="container">
	<div class="row clearfix">
		<div class="col-md-3 column">
			<h2>
				<a href="#" class="link">Alagoas</a>
			</h2>
            <p>
                <a href="#" class="sublink">Barra de São Miguel</a>
			</p>
            <p>
                <a href="#" class="sublink">Maceió</a>
			</p>
            <p>
                <a href="#" class="sublink">Maragogi</a>
			</p>
            <p>
                <a href="#" class="sublink">Penedo</a>
			</p>
            <p>
                <a href="#" class="sublink">Praia do Francês</a>
			</p>
				<a class="link" href="#">Todos os destinos AL »</a>
			</p>
		</div>
		<div class="col-md-3 column">
			<h2>
				<a href="#" class="link">Bahia</a>
			</h2>
			<p>
                <a href="#" class="sublink">Chapada Diamantina</a>
			</p>
            <p>
                <a href="#" class="sublink">Ilhéus</a>
			</p>
            <p>
                <a href="#" class="sublink">Morro de São Paulo</a>
			</p>
            <p>
                <a href="#" class="sublink">Salvador</a>
			</p>
            <p>
                <a href="#" class="sublink">Trancoso</a>
			</p>
			<p>
				<a class="link" href="#">Todos os destinos BH »</a>
			</p>
		</div>
		<div class="col-md-3 column">
			<h2>
				<a href="#" class="link">Ceará</a>
			</h2>
			 <p>
                <a href="#" class="sublink">Canoa Quebrada/Aracati</a>
			</p>
            <p>
                <a href="#" class="sublink">Fortaleza</a>
			</p>
            <p>
                <a href="#" class="sublink">Guaramiranga</a>
			</p>
            <p>
                <a href="#" class="sublink">Jericoacoara</a>
			</p>
             <p>
                <a href="#" class="sublink">Juazeiro do Norte</a>
			</p>
			<p>
				<a class="link" href="#">Todos os destinos CE »</a>
			</p>
		</div>
        <div class="col-md-3 column">
			<h2>
				<a href="#" class="link">Maranhão</a>
			</h2>
			<p>
                <a href="#" class="sublink">Alcântara</a>
			</p>
            <p>
                <a href="#" class="sublink"> Chapada das Mesas</a>
			</p>
            <p>
                <a href="#" class="sublink">Imperatriz</a>
			</p>
            <p>
                <a href="#" class="sublink">Lençóis Maranhenses</a>
			</p>
            <p>
                <a href="#" class="sublink">São Luís</a>
			</p>
			<p>
				<a class="link" href="#">Todos os destinos MA »</a>
			</p>
		</div>
	</div>
</div>

<div class="container">
	<div class="row clearfix">
		<div class="col-md-3 column">
			<h2>
				<a href="#" class="link">Paraíba</a>
			</h2>
            <p>
                <a href="#" class="sublink">Baía da Traição</a>
			</p>
            <p>
                <a href="#" class="sublink">Cabedelo</a>
			</p>
            <p>
                <a href="#" class="sublink">Campina Grande</a>
			</p>
            <p>
                <a href="#" class="sublink">Conde</a>
			</p>
            <p>
                <a href="#" class="sublink">João Pessoa</a>
			</p>
				<a class="link" href="#">Todos os destinos PB »</a>
			</p>
		</div>
		<div class="col-md-3 column">
			<h2>
				<a href="#" class="link">Pernambuco</a>
			</h2>
			<p>
                <a href="#" class="sublink">Arcoverde</a>
			</p>
            <p>
                <a href="#" class="sublink">Bezerros</a>
			</p>
            <p>
                <a href="#" class="sublink">Cabo de S. Agostinho</a>
			</p>
            <p>
                <a href="#" class="sublink">Fernando de Noronha</a>
			</p>
            <p>
                <a href="#" class="sublink">Porto de Galinhas</a>
			</p>
			<p>
				<a class="link" href="#">Todos os destinos PE »</a>
			</p>
		</div>
		<div class="col-md-3 column">
			<h2>
				<a href="#" class="link">R. G. do Norte</a>
			</h2>
			 <p>
                <a href="#" class="sublink">Baía Formosa</a>
			</p>
            <p>
                <a href="#" class="sublink">Galinhos</a>
			</p>
            <p>
                <a href="#" class="sublink">Maracajaú</a>
			</p>
            <p>
                <a href="#" class="sublink">Natal</a>
			</p>
             <p>
                <a href="#" class="sublink">São Miguel do Gostoso</a>
			</p>
			<p>
				<a class="link href="#">Todos os destinos RN »</a>
			</p>
		</div>
      <div class="col-md-3 column">
			<h2>
				<a href="#" class="link">Sergipe</a>
			</h2>
			<p>
                <a href="#" class="sublink">Aracaju</a>
			</p>
            <p>
                <a href="#" class="sublink"> Laranjeiras</a>
			</p>
            <p>
                <a href="#" class="sublink">São Cristóvão</a>
			</p>
		</div>
	</div>
</div>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-3 column">
			<h2>
				<a href="#" class="link">Piauí</a>
			</h2>
            <p>
                <a href="#" class="sublink">Barra Grande</a>
			</p>
            <p>
                <a href="#" class="sublink">Parnaíba</a>
			</p>
            <p>
                <a href="#" class="sublink">Piripiri</a>
			</p>
            <p>
                <a href="#" class="sublink">Teresina</a>
			</p>
		</div>
	</div>
</div>