<div class="container">
	<div class="row clearfix">
		<div class="col-md-3 column">
			<h2>
				<a href="#" class="link">Amazonas</a>
			</h2>
            <p>
                <a href="#" class="sublink">Borba</a>
			</p>
            <p>
                <a href="#" class="sublink">Manaus</a>
			</p>
            <p>
                <a href="#" class="sublink">Parintins</a>
			</p>
            <p>
                <a href="#" class="sublink">Rio Preto da Eva</a>
			</p>
            <p>
                <a href="#" class="sublink">São Gabriel da Cachoeira</a>
			</p>
				<a class="link" href="#">Todos os destinos AM »</a>
			</p>
		</div>
		<div class="col-md-3 column">
			<h2>
				<a href="#" class="link">Pará</a>
			</h2>
			<p>
                <a href="#" class="sublink">Altamira</a>
			</p>
            <p>
                <a href="#" class="sublink">Belém</a>
			</p>
            <p>
                <a href="#" class="sublink">Ilha de Marajó</a>
			</p>
            <p>
                <a href="#" class="sublink">Ilha do Algodoal</a>
			</p>
            <p>
                <a href="#" class="sublink">Piçarra</a>
			</p>
			<p>
				<a class="link" href="#">Todos os destinos PA »</a>
			</p>
		</div>
		<div class="col-md-3 column">
			<h2>
				<a href="#" class="link">Outros Estados</a>
			</h2>
			 <p>
                <a href="#" class="sublink">Acre</a>
			</p>
            <p>
                <a href="#" class="sublink">Amapá</a>
			</p>
            <p>
                <a href="#" class="sublink">Roraima</a>
			</p>
            <p>
                <a href="#" class="sublink">Rondônia</a>
			</p>
             <p>
                <a href="#" class="sublink">Tocantins</a>
			</p>
		</div>
	</div>
</div>




