<div class="container">
	<div class="row clearfix">
		<div class="col-md-3 column">
			<h2>
				<a href="#" class="link">Paraná</a>
			</h2>
            <p>
                <a href="#" class="sublink">Curitiba</a>
			</p>
            <p>
                <a href="#" class="sublink">Foz do Iguaçu</a>
			</p>
            <p>
                <a href="#" class="sublink">Ilha do Mel</a>
			</p>
            <p>
                <a href="#" class="sublink">Paranaguá</a>
			</p>
            <p>
                <a href="#" class="sublink">Ponta Grossa</a>
			</p>
				<a class="link" href="#">Todos os destinos PR »</a>
			</p>
		</div>
		<div class="col-md-3 column">
			<h2>
				<a href="#" class="link">Santa Catarina</a>
			</h2>
			<p>
                <a href="#" class="sublink">Balneário Camboriú</a>
			</p>
            <p>
                <a href="#" class="sublink">Blumenau</a>
			</p>
            <p>
                <a href="#" class="sublink">Bombinhas</a>
			</p>
            <p>
                <a href="#" class="sublink">Florianópolis</a>
			</p>
            <p>
                <a href="#" class="sublink">Garopaba</a>
			</p>
			<p>
				<a class="link" href="#">Todos os destinos SC »</a>
			</p>
		</div>
		<div class="col-md-3 column">
			<h2>
				<a href="#" class="link">Rio Grande do Sul</a>
			</h2>
			 <p>
                <a href="#" class="sublink">Bento Gonçalves</a>
			</p>
            <p>
                <a href="#" class="sublink">Canela</a>
			</p>
            <p>
                <a href="#" class="sublink">Caxias do Sul</a>
			</p>
            <p>
                <a href="#" class="sublink">Gramado</a>
			</p>
             <p>
                <a href="#" class="sublink">Porto Alegre</a>
			</p>
			<p>
				<a class="link" href="#">Todos os destinos RS »</a>
			</p>
		</div>

	</div>
</div>