	<link rel="stylesheet" type="text/css" href="/static/engine1/style.css" />
	<script type="text/javascript" src="/static/engine1/jquery.js"></script>
	<div id="wowslider-container1">
	<div class="ws_images"><ul>
		<li><img src="/static/data1/images/dscn1986.jpg" alt="Gruta da Bruxa" title="Gruta da Bruxa" id="wows1_0"/></li>
		<li><img src="/static/data1/images/dscn1992.jpg" alt="Igreja Matriz" title="Igreja Matriz" id="wows1_1"/></li>
		<li><img src="/static/data1/images/dscn1996.jpg" alt="São Thomé das Letras" title="São Thomé das Letras" id="wows1_2"/></li>
		<li><img src="/static/data1/images/dscn2044.jpg" alt="Cachoeira da Lua" title="Cachoeira da Lua" id="wows1_3"/></li>
		<li><img src="/static/data1/images/dscn2059.jpg" alt="Caminho gruta do sobradinho" title="Caminho gruta do sobradinho" id="wows1_4"/></li>
		<li><img src="/static/data1/images/dscn2181.jpg" alt="Lago esmeralda" title="Lago esmeralda" id="wows1_5"/></li>
		<li><img src="/static/data1/images/dscn2220.jpg" alt="Parque Municipal Antonio Rosa" title="Parque Municipal Antonio Rosa" id="wows1_6"/></li>
		<li><img src="/static/data1/images/dscn2255.jpg" alt="Vista do Alto do parque" title="Vista do Alto do parque" id="wows1_7"/></li>
		<li><img src="/static/data1/images/dscn2279.jpg" alt="Pedra da bruxa" title="Pedra da bruxa" id="wows1_8"/></li>
		<li><img src="/static/data1/images/dscn2283.jpg" alt="Pedra da Bruxa" title="Pedra da Bruxa" id="wows1_9"/></li>
		<li><img src="/static/data1/images/dscn2374.jpg" alt="Por do Sol" title="Por do Sol" id="wows1_10"/></li>
		<li><img src="/static/data1/images/dscn2440.jpg" alt="cachoeira" title="cachoeira" id="wows1_11"/></li>
		<li><img src="/static/data1/images/dscn2469.jpg" alt="Vale das Borboletas" title="Vale das Borboletas" id="wows1_12"/></li>
		<li><img src="/static/data1/images/dscn2516.jpg" alt="Gruta das Borboletas" title="Gruta das Borboletas" id="wows1_13"/></li>
		<li><img src="/static/data1/images/dscn2528.jpg" alt="Cachoeira das Borboletas" title="Cachoeira das Borboletas" id="wows1_14"/></li>
		<li><img src="/static/data1/images/dscn2560.jpg" alt="Pirâmide" title="Pirâmide" id="wows1_15"/></li>
		<li><img src="/static/data1/images/dscn2578.jpg" alt="Interior da Pirâmide" title="Interior da Pirâmide" id="wows1_16"/></li>
		<li><img src="/static/data1/images/dscn2592.jpg" alt="Igreja Antiga" title="Igreja Antiga" id="wows1_17"/></li>
		<li><img src="/static/data1/images/dscn2616.jpg" alt="responsive slider" title="Cachoeira" id="wows1_18"/></a></li>
		<li><img src="/static/data1/images/dscn2678.jpg" alt="Cachoeira" title="Cachoeira" id="wows1_19"/></li>
	</ul></div>
	<div class="ws_thumbs">
<div>
		<a href="#" title="Gruta da Bruxa"><img src="/static/data1/tooltips/dscn1986.jpg" alt="" /></a>
		<a href="#" title="Igreja Matriz"><img src="/static/data1/tooltips/dscn1992.jpg" alt="" /></a>
		<a href="#" title="São Thomé das Letras"><img src="/static/data1/tooltips/dscn1996.jpg" alt="" /></a>
		<a href="#" title="Cachoeira da Lua"><img src="/static/data1/tooltips/dscn2044.jpg" alt="" /></a>
		<a href="#" title="Caminho gruta do sobradinho"><img src="/static/data1/tooltips/dscn2059.jpg" alt="" /></a>
		<a href="#" title="Lago esmeralda"><img src="/static/data1/tooltips/dscn2181.jpg" alt="" /></a>
		<a href="#" title="Parque Municipal Antonio Rosa"><img src="/static/data1/tooltips/dscn2220.jpg" alt="" /></a>
		<a href="#" title="Vista do Alto do parque"><img src="/static/data1/tooltips/dscn2255.jpg" alt="" /></a>
		<a href="#" title="Pedra da bruxa"><img src="/static/data1/tooltips/dscn2279.jpg" alt="" /></a>
		<a href="#" title="Pedra da Bruxa"><img src="/static/data1/tooltips/dscn2283.jpg" alt="" /></a>
		<a href="#" title="Por do Sol"><img src="/static/data1/tooltips/dscn2374.jpg" alt="" /></a>
		<a href="#" title="cachoeira"><img src="/static/data1/tooltips/dscn2440.jpg" alt="" /></a>
		<a href="#" title="Vale das Borboletas"><img src="/static/data1/tooltips/dscn2469.jpg" alt="" /></a>
		<a href="#" title="Gruta das Borboletas"><img src="/static/data1/tooltips/dscn2516.jpg" alt="" /></a>
		<a href="#" title="Cachoeira das Borboletas"><img src="/static/data1/tooltips/dscn2528.jpg" alt="" /></a>
		<a href="#" title="Pirâmide"><img src="/static/data1/tooltips/dscn2560.jpg" alt="" /></a>
		<a href="#" title="Interior da Pirâmide"><img src="/static/data1/tooltips/dscn2578.jpg" alt="" /></a>
		<a href="#" title="Igreja Antiga"><img src="/static/data1/tooltips/dscn2592.jpg" alt="" /></a>
		<a href="#" title="Cachoeira"><img src="/static/data1/tooltips/dscn2616.jpg" alt="" /></a>
		<a href="#" title="Cachoeira"><img src="/static/data1/tooltips/dscn2678.jpg" alt="" /></a>
	</div>
</div>
<div class="ws_script" style="position:absolute;left:-99%"><a href="http://wowslider.com">carousel jquery</a> by WOWSlider.com v7.7</div>
	<div class="ws_shadow"></div>
	</div>	
	<script type="text/javascript" src="/static/engine1/wowslider.js"></script>
	<script type="text/javascript" src="/static/engine1/script.js"></script>
	<!-- End WOWSlider.com BODY section -->

</body>
</html>