<div class="row">
    <p>
        <h4 style="color: #006600">
            Lugares com maior número de dicas
        </h4>
    </p>
</div>
<div class="row">
    <table class="table">
				<tbody>
					<tr>
						<td>
							Cataratas do Iguaçu - PR
						</td>
						<td>
							1409 Dicas
						</td>
					</tr>
					<tr class="success">
						<td>
							Corcovado - RJ
						</td>
						<td>
                            1267 Dicas
						</td>
					</tr>
                     <tr>
						<td>
							Mercadão Municipal de São Paulo - SP
						</td>
						<td>
							1129 Dicas
						</td>
					</tr>
					<tr class="success">
						<td>
							Bonito - MS
						</td>
						<td>
                            987 Dicas
						</td>
					</tr>
                    <tr>
						<td>
							Gramado - RS
						</td>
						<td>
							834 Dicas
						</td>
					</tr>
					<tr class="success">
						<td>
							Belo Horizonte - MG
						</td>
						<td>
                            723 Dicas
						</td>
					</tr>
                    <tr>
						<td>
							Fortaleza - CE
						</td>
						<td>
							711 Dicas
						</td>
					</tr>
					<tr class="success">
						<td>
							Salvador - BH
						</td>
						<td>
                            654 Dicas
						</td>
					</tr>
                    <tr>
						<td>
							Carrancas - MG
						</td>
						<td>
							634 Dicas
						</td>
					</tr>
					<tr class="success">
						<td>Campos do Jordão - SP
						</td>
						<td>
                            598 Dicas
						</td>
					</tr>

				</tbody>
			</table>
</div>
